################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AlgoExpert.TwoNumberSum/obj/Release/netcoreapp3.1
*/obj
*/bin
.vs